{% extends 'base.html.twig' %}

{%  block title %}Il semble qu'il y ait un problème avec cette page...{%  endblock %}

{%  block body %}
<div class="container">
    <h1>Page inacessible</h1>
    <p>Il semble qu'il y ait un problème avec cette page...</p>

    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <img src="/uploads/error/sad_pug.jpeg" class="error-img" alt="chien triste"/>
    </div>
    </div>
</div>
{%  endblock %}