{% extends 'base.html.twig' %}

{%  block title %}Vous n'avez pas accès à cette section!{%  endblock %}

{%  block body %}
<div class="container">
    <h1>Page inacessible</h1>
    <p>Vous n'avez pas les droits pour accéder à cette section.</p>

    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <img src="/uploads/error/sad_pug.jpeg" class="error-img" alt="chien triste"/>
    </div>
    </div>
</div>
{%  endblock %}